<!-- 
        Copyright (C) <2014>  <Patrick Gray MacDowell>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>

-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pgmacdesign.rsrtoolbox"
    android:versionCode="12"
    android:versionName="1.42" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


    <!-- Permissions: -->
    
    <!-- The wake lock is so you can keep the screen active on a certain class -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- This is more or less a must to do anything internet related -->
    <!-- This is needed to write to the storage, not necessarily meaning the SD card -->
    <!-- Allows access to the vibrate function for the notification/ status bar -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- The access network state is needed for admob -->
    
    <!-- Used for donations via the Google Play Store -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rsr_toolbox_logo"
        
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Make a reference to the AdMob jar so adds can be used. Example located in ......-->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
               
        
        <!-- This is the first activity. It is The 'Splash Screen' seen when the app opens.-->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!--This is the second activity. It is the main menu. Theme has been set to light-->
        <activity
            android:name=".Main"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Black"
            >
            <intent-filter>
                <action android:name="com.pgmacdesign.rsrtoolbox.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!--This activity pops up a 'about us' popup with info about me/ the company-->
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="com.pgmacdesign.rsrtoolbox.ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- This activity adjusts preferences within the app  -->
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="com.pgmacdesign.rsrtoolbox.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
        
        <!-- This activity is for sending bug reports and feedback. Separate Intent here for item opened up from within it  -->
        <activity
            android:name=".BugReport"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="com.pgmacdesign.rsrtoolbox.BUGREPORT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>          
        
        <!-- This activity is a simple calculator -->
        <activity
            android:name=".Calculator"
            android:label="Calculator"  >
        </activity>        
        
        <!-- This activity is for delving into commissions, amounts earned, and ways to calculate more income -->
        <activity
            android:name=".Commissions"
            android:label="Commissions"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity is designed to help make calculations with the Edge program easy and understandable -->
        <activity
            android:name=".Edge"
            android:label="Edge"  
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity inputs items into the Google Calendar with intention of them being followed up on. Mostly useful for Callbacks, OCCs, emails, etc -->
        <activity
            android:name=".FollowUp"
            android:label="Follow-Up"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity is to help keep 30 minute lunches timely, alert when nearing the end of lunch, and remind the user to clock in/ out -->
        <activity
            android:name=".LunchTimer"
            android:label="Lunch Timer"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity calculates the number deficit to be at a certain revenue target. Will have default values as well as input values -->
        <activity
            android:name=".RevenueDeficit"
            android:label="Revenue Deficit"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity will allow users to send the link for the application to other people via text/ email/ etc. Will have direct link to play store download -->
        <activity
            android:name=".ShareThisApp"
            android:label="Share This App"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity will list off some of the most useful SKUs that are frequently being looked up -->
        <activity
            android:name=".UsefulSKUs"
            android:label="Useful SKUs"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity calculates quota relief based upon the number of vacation/ personal days the user has taken -->
        <activity
            android:name=".VacationQuotaRelief"
            android:label="Vacation Quota Relief"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity lists off important contact numbers and email addresses that the user may find helpful-->
        <activity
            android:name=".ImportantContactNumbers"
            android:label="Important Contact Numbers"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>        
        
        <!-- This activity is a handler for the activity chosen by the user to determine which activity will open-->
        <activity
            android:name=".ActivityAdapter"
            android:label="Activity Adapter"  >
        </activity>        
        
        <!-- This activity Allows the user to input their work schedule into their Google calendar-->
        <activity
            android:name=".InputSchedule"
            android:label="Input Schedule"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>          
        
        <!-- This activity has a fun, stress-relief element by adding clickable portions to the screen-->
        <activity
            android:name=".StressRelief"
            android:label="Stress Relief!" 
            android:theme="@android:style/Theme.Black"  
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
             >
        </activity>  
        
        <!-- This activity allows the user to enter commissions info for calculation -->
        <activity
            android:name=".EnterCommissionsInfo"
            android:label="Enter Information for Commissions"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>  
        
        <!-- This activity manages the central database for the entire application-->
        <activity
            android:name=".DatabaseAdmin"
            android:label="Database Administration"  >
        </activity> 

        <!-- This activity calculates and returns the strategic multiplier used in commissions-->
        <activity
            android:name=".StrategicMultiplier2"
            android:label="Strategic Multiplier Calculator"  >
        </activity> 
        
        <!-- This activity calculates and returns the GG multiplier used in commissions-->
        <activity
            android:name=".GGMultiplier"
            android:label="GG Multiplier"  >
        </activity> 
        
        <!-- -->
        <activity
            android:name=".ImageDetail"
            android:label="Image Detail"  >
        </activity>         

        <!-- This activity if just a fun little 'magic 8-ball style randomizer -->
        <activity
            android:name=".MagicBall"
            android:label="Magic Ball"    
            android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity> 
        
        <!-- This activity is for Shared Preferences-->
        <activity
            android:name=".SharedPrefs"
            android:label="Shared Preferences" >
        </activity>         

        <!-- This activity is for Donate-->
        <activity
            android:name=".Donate"
            android:label="Donate" >
            <intent-filter>
                <action android:name="com.pgmacdesign.rsrtoolbox.DONATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>         
           
	    <activity
	      android:name="com.pgmacdesign.rsrtoolbox.inappbilling.MainActivity"
	      android:label="@string/activity_main_label"
	      android:screenOrientation="portrait" />
	    
	    <activity
	      android:name="com.pgmacdesign.rsrtoolbox.inappbilling.PurchasePassportActivity"
	      android:label="@string/activity_purchase_label"
	      android:screenOrientation="portrait" />        
	      
	   	<activity
	      android:name="com.pgmacdesign.rsrtoolbox.inappbilling.StartUpActivity"
	      android:label="@string/activity_startup_label"
	      android:screenOrientation="portrait" />
                
        <!-- All activities below this Will either be added later or deleted depending on need and time -->
        <!-- All activities below this Will either be added later or deleted depending on need and time -->
        <!-- All activities below this Will either be added later or deleted depending on need and time -->
        <!-- All activities below this Will either be added later or deleted depending on need and time -->
        
        <!-- 
        
        This activity
        <activity
            android:name=".Data"
            android:label="WORDS"  >
        </activity>        
        
        
        Widget class  
        <receiver 
            android:name=".PointlessWidget"
            android:label="Name of Widget in Apps" 
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data 
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_stuff" />    
        </receiver>
        
        -->
        
        <!-- This activity configures the widget -->
        <activity
            android:name=".WidgetConfig"
            android:label="Widget Configuration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"
                    />
            </intent-filter>
        </activity>        
        
        
    </application>

</manifest>
    